@model com.vorwardit.wordsworthcms.Modules.ImageBannerModel

<div style="height:100px">&nbsp;</div>
<h4>Banner with text</h4>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true, "", new { @class = "" })
    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "" })
    @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "", style="width:100%" } })
    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "" })

    @Html.LabelFor(model => model.Heading, htmlAttributes: new { @class = "" })
    @Html.EditorFor(model => model.Heading, new { htmlAttributes = new { @class = "", style = "width:100%" } })
    @Html.ValidationMessageFor(model => model.Heading, "", new { @class = "" })

    @Html.LabelFor(model => model.SubHeading, htmlAttributes: new { @class = "" })
    @Html.EditorFor(model => model.SubHeading, new { htmlAttributes = new { @class = "", style = "width:100%" } })
    @Html.ValidationMessageFor(model => model.SubHeading, "", new { @class = "" })

    <br />
    <button type="button" class="cmsTypeChangeModuleTypeButton">Change Module</button>
    <button type="button" class="cmsTypeCancelButton">Cancel</button>
    <button type="button" class="cmsTypeSaveSettingsButton">Save</button>
}


