@model com.vorwardit.wordsworthcms.Modules.PFBModel


<h4>PAUL f&auml;hrt Bus Konfiguration</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "" })

    @Html.LabelFor(model => model.APIEndpoint, htmlAttributes: new { @class = "" })
    @Html.EditorFor(model => model.APIEndpoint, new { htmlAttributes = new { @class = "", style = "width:100%" } })
    @Html.ValidationMessageFor(model => model.APIEndpoint, "", new { @class = "" })

    @Html.LabelFor(model => model.ClientId, htmlAttributes: new { @class = "" })
    @Html.EditorFor(model => model.ClientId, new { htmlAttributes = new { @class = "", style = "width:100%" } })
    @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "" })
    <br />
    <button type="button" class="cmsTypeChangeModuleTypeButton">Anderes Modul</button>
    <button type="button" class="cmsTypeCancelButton">Abbrechen</button>
    <button type="button" class="cmsTypeSaveSettingsButton">Speichern</button>
}


